.smurfs-form {
	margin: 0 auto;
	width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

input {
	margin-bottom: 15px;
	padding-left: 20px;
	height: 40px;
	font-size: 18px;
	border-radius: 5px;
}

.submit-btn {
	width: 50%;
	border-radius: 5px;
	font-size: 20px;
	height: 40px;
	color: white;
	background-color: rgb(64, 119, 190);
}
